body{
    background: linear-gradient(to right,rgb(46, 77, 156),rgb(50, 129, 194), rgb(141, 187, 224), rgb(50, 129, 194), rgb(46, 77, 156));
    font-family: "Comic Neue";

}

.coment {text-align: left;}

h1{text-align: center;
    font-size: 60px;
    padding: 20px 0px;
    padding-left: 60px;
    color: rgb(250, 250, 14);
    background-color: rgb(22, 20, 35);
    border-radius: 20px;
    text-shadow: 0px 0px 10px rgb(249, 249, 130);
}

ul{list-style-position: inside}

.corpo{margin: auto; width: 50%;align-content: center; text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #ffdd32, rgb(255, 218, 118),#ffdd32);
    border-radius: 20px;}



.filler{color: red;}

h2{font-size: 40px;}
h3{font-size: 25px;}

img{border: 5px solid white;
	    border-radius: 20px;}





.esquerda{float: left; background-color: rgb(255, 255, 255); padding: 10px;border-radius: 20px;}


table{background-color: white;}





@media only screen and (max-width: 800px){
    body, .a, .corpo, div{
        width: 100%;
        text-align: center;
    }
    img{width:50%}
}

